name: Build & publish Docker image with ko

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - uses: ko-build/setup-ko@v0.8
        with:
          version: v0.18.0
      - name: Build & publish
        run: |
          TAG="${{ github.ref_name }}"
          if [[ "$TAG" == "master" ]]; then
            TAG="latest"
          fi
          ko build \
            --platform=linux/amd64,linux/arm64 \
            --bare --sbom=none \
            --tags="$TAG"
